<p id="notice" class="notice"><%= notice %></p>

<h1><%= @article.title %></h1>
<div>
<%= @article.body %>
</div>
<br>
<i>created at: <%= @article.created_at %></i>
<br>
<%= link_to 'Edit', edit_article_path(@article) %>
