<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Rails Blog" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Blog" %>">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="img-fluid text-center" >
        <%= image_tag "banner.jpg" %>
      </div>
      <div class="text-center">
        <%= render 'layouts/navigation' %>
      </div>
    </header>
    <main role="main">
      <div class="container">
        <%= content_for?(:content) ? yield(:content) : yield %>
      </div>
    </main>
  </body>
</html>
